[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==4.12.3"
click = "==8.1.7"
fastparquet = "==2024.5.0"
joblib = "==1.4.2"
matplotlib = "==3.9.0"
matplotlib-inline = "==0.1.7"
multitasking = "==0.0.11"
nbclient = "==0.10.0"
nbconvert = "==7.16.4"
nbformat = "==5.10.4"
numpy = "==1.26.4"
pandas = "==2.0.3"
pandas-datareader = "==0.10.0"
pillow = "==10.3.0"
pyarrow = "==14.0.2"
pytz = "*"
pyyaml = "==6.0.1"
qtconsole = "==5.5.2"
qtpy = "==2.4.1"
requests = "==2.32.3"
scikit-learn = "==1.4.2"
scipy = "==1.13.1"
ta-lib = "*"
tqdm = "==4.66.4"
tzdata = "==2024.1"
urllib3 = "*"
yfinance = "==0.2.40"
python-box = "==6.0.2"
ensure = "==1.0.2"
types-pyyaml = "*"
flask = "*"
flask-cors = "*"
mlflow = "==2.9.2"
jupyter = "*"
seaborn = "*"
hyperopt = "*"
xgboost = "==2.0.3"
boto3 = "*"
plotly = "*"
wbdata = "*"
pandasdmx = "*"
openpyxl = "*"
stockselproj = {file = ".", editable = true}
psycopg2-binary = "*"
google = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-api-python-client = "*"
google-cloud-storage = "*"

[dev-packages]

[requires]
python_version = "3.9"
